.back-button{
  height: calc(8.7vh/1.4);
  width: calc(15vw/1.4);
  background-image: url("../../assets/dropdown.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  left: 83.5vw;
  top: 15vh;
  color: #3E1208;
  z-index: 5;
  transform: rotateY(180deg);

  &:hover{
    cursor: pointer;
  }
}

.back-qrcodes{
  height: 6.2142857143vh;
    width: 10.7142857143vw;
    background-image: url(/src/assets/dropdown.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    left: 78vw;
    top: 13vh;
    color: #3E1208;
    z-index: 5;
    transform: rotateY(180deg);
}

@media screen and (max-width: 767px) {
  .back-button{
    height: calc(13vh);
    width: calc(24vw);
    left: 74vw;
    top: 2.7vh;
  }
}