@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

.info-page-qr{
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 17vh;
}

.qr-page {
  background: url('../../assets/qrBack.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59322C;
}

.headerInfo,
.footer {
  width: 100%;
  max-height: 100px; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px; 
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  margin-bottom: 15vh;
  border-radius: 10px; 
  padding: 10px; 
  align-items: center;
  justify-items: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  width: 90%; 
  height: 90%; 
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; 
  padding-bottom: 10px; 
}

.grid-item p {
  width: 90%;
  font-family: 'Merriweather', serif;
  color: #F2E2B1;
  font-size: 18px; 
  font-weight: 300;
}

/* Media query for screens smaller than 767px */
@media (max-width: 767px) {
  .qr-page {
    height: 100vh !important;
    padding: 0vh 10px 12vh 10px !important
  }
  .qr-page {
    background: url('../../assets/qrBack.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center;
    width: 100%;
    height: 100vh !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50vh; /* Reduce height for smaller screens */
    gap: 2vh;
  }

  .grid-item {
    background-image: url('../../assets/mobileqr.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:9vh; /* Adjust height for smaller screens */
    padding: 0;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  }

  .link-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link-wrapper a {
    width: 70%;
    font-size: 14px; /* Reduce font size for smaller screens */
    color: #59322C;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-decoration: none;
  }

  .grid-item img {
    display: none;
  }
}
