@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.header{
  background-image: url(../../assets/header.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 54.4vh;
  background-size: cover;
  text-align: center;
  padding-top: 19vh;
  font-family: 'Merriweather' ;
  font-size: 48px;
  font-weight: 400;
  color: #F2E2B1;
}


.header-wrapper{
  position: relative;
  width: 100%;
  height: 47vh;
  background-color: #3E1208;
  z-index: 1;
  margin-bottom: 52vh;
}

@media screen and (max-width: 767px) {
  .header{
    background-image: url(../../assets/хедер.png);
    height: 122px;
    font-size: 20px;
    padding-top: 2vh;
  }

  .header-wrapper{
    margin-bottom: 20vh;
    height: 100px;
  }
}